spring:
  datasource:
    url: jdbc:postgresql://localhost:5433/test
    username: test
    password: "123456"
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: create-drop
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true
    properties:
      hibernate:
        format_sql: true
app:
  secret:  "fgjhsdkgfhjjskdlfksfkgls"
  lifetime: 60000

    
