spring:
  datasource:
    url: jdbc:postgresql://localhost:5433/test
    username: test
    password: "123456"
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true
    properties:
      hibernate:
        format_sql: true
jwt:
  secret:  "fgjhsdkflsdlfsjklewlrtwwerwk48902793874592759872395729759irkfhkjdhfkhsd38759827598dfhdkfhidhgls"
  lifetime: 60000